@media screen and (max-width:1200px) {

    .advantages {

        margin-top: 100px;
    }
}

@media screen and (max-width:1024px) {

    .advantages {

        margin-top: 80px;
    }
}

@media screen and (max-width:900px) {

    .advantages {
    
        .advantages__items {
    
            .advantages__item {

                flex-basis: 50%;
                padding: 0;

                &:nth-child(4) {

                    margin-bottom: 40px;
                }

                &:nth-child(odd) {

                    padding-right: 20px;
                }

                &:nth-child(even) {

                    padding-left: 20px;
                }

                .advantages__item-wrapper {

                    .advantages__item-icon {

                        width: 110px;
                        height: 110px;
                        line-height: 110px;

                        svg {

                            width: 50px;
                            height: 50px;
                        }
                    }

                    .advantages__item-desc {

                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:780px) {

    .advantages {

        margin-top: 60px;
    }
}

@media screen and (max-width:480px) {

    .advantages {

        margin-top: 40px;

        .advantages__items {
    
            .advantages__item {

                flex-basis: 100%;
                padding: 0 !important;
                margin-bottom: 20px !important;

                &:last-child {

                    margin-bottom: 0 !important;
                }

                .advantages__item-wrapper {

                    .advantages__item-icon {

                        width: 80px;
                        height: 80px;
                        line-height: 80px;

                        svg {

                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}