@media screen and (max-width:1200px) {

    .advantages {

        margin-top: 100px;
    }
}

@media screen and (max-width:1024px) {

    .advantages {

        margin-top: 80px;
    }
}

@media screen and (max-width:780px) {

    .advantages {

        margin-top: 60px;
    }
}

@media screen and (max-width:480px) {

    .advantages {

        margin-top: 40px;
    }
}