@media screen and (max-width:1200px) {

    .buklet {

        .buklet__text {
    
            h1 {

                margin-bottom: 40px;

                span {
    
                    font-size: 4rem;
                }
    
                b {
    
                    font-size: 3rem;
                }
            }

            .buklet__desc {
    
                ul {

                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:1160px) {

    .buklet {

        .buklet__text {

            background-size: 85% auto;
            padding-bottom: 300px;
        }
    }
}

@media screen and (max-width:1024px) {

    .buklet {

        .buklet__text {
    
            h1 {

                font-size: 1.5rem;

                span {
    
                    font-size: 3.5rem;
                }
    
                b {
    
                    font-size: 2.5rem;
                }
            }

            .buklet__desc {

                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width:900px) {

    .buklet {

        .buklet__text {

            background-size: 90% auto;
            padding-bottom: 250px;
        }
    }
}

@media screen and (max-width:780px) {

    .buklet {

        .buklet__text {
    
            h1 {

                font-size: 1.3rem;

                span {
    
                    font-size: 3rem;
                }
    
                b {
    
                    font-size: 2rem;
                }
            }

            .buklet__desc {

                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width:700px) {

    .buklet {

        .buklet__text {

            background-size: 100% auto;
            padding-bottom: 200px;
        }
    }
}

@media screen and (max-width:480px) {

    .buklet {

        .buklet__text {

            background-size: 90% auto;
            padding-bottom: 130px;
    
            h1 {

                margin-bottom: 20px;

                span {
    
                    font-size: 2.5rem;
                }
    
                b {
    
                    font-size: 1.8rem;
                }
            }

            .buklet__desc {
    
                ul {

                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:360px) {

    .buklet {

        .buklet__text {

            padding-bottom: 100px;
        }
    }
}