@media screen and (max-width:1160px) {

    .buklet {

        .buklet__text {

            background-size: 85% auto;
            padding-right: 35%;
            padding-bottom: 250px;
        }
    }
}

@media screen and (max-width:900px) {

    .buklet {

        .buklet__text {

            background-size: 90% auto;
        }
    }
}

@media screen and (max-width:700px) {

    .buklet {

        .buklet__text {

            padding-right: 40%;
            background-size: 100% auto;
        }
    }
}