@media screen and (max-width:1200px) {

    .buklet {

        .buklet__text {
    
            h1 {

                margin-bottom: 40px;

                span {
    
                    font-size: 4rem;
                }

                .buklet__text-undertitle {

                    b {
    
                        font-size: 1.8rem;
                    }
                }
            }

            .buklet__desc {
    
                ul {

                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:1160px) {

    .buklet {

        .buklet__text {

            background-size: 85% auto;
            padding-bottom: 300px;
        }
    }
}

@media screen and (max-width:1024px) {

    .buklet {

        .buklet__text {
    
            h1 {

                font-size: 0.9rem;

                span {
    
                    font-size: 3.5rem;
                }
    
                .buklet__text-undertitle {

                    b {
    
                        font-size: 1.5rem;
                    }
                }
            }

            .buklet__desc {

                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width:900px) {

    .buklet {

        .buklet__text {

            background-size: 90% auto;
            padding-bottom: 250px;
        }
    }
}

@media screen and (max-width:780px) {

    .buklet {

        .buklet__text {
    
            h1 {

                font-size: 0.8rem;

                span {
    
                    font-size: 3rem;
                }
    
                .buklet__text-undertitle {

                    b {
    
                        font-size: 1.2rem;
                    }
                }
            }

            .buklet__desc {

                font-size: 1rem;

                ul {

                    margin-left: 40px;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {

    .buklet {

        .buklet__text {

            background-size: 100% auto;
            padding-bottom: 0;
            background: transparent;

            .buklet__desc {

                max-width: none;

                ul {
    
                    margin-left: 0;
                }

                .buklet__desc-img {

                    display: flex;
                    margin-bottom: 20px;

                    .buklet__desc-img-img {

                        display: block;
                        flex-basis: calc(33.33% - 13px);
                        margin-right: 20px;

                        img {

                            width: 100%;
                        }
                    }
                }

                .buklet__desc-imgs {

                    display: flex;

                    .buklet__desc-imgs-img {

                        flex-basis: 33.33%;
                        margin-right: 20px;

                        &:last-child {

                            margin-right: 0;
                        }

                        img {

                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px) {

    .buklet {

        .buklet__text {

            background-size: 90% auto;
    
            h1 {

                margin-bottom: 20px;

                span {
    
                    font-size: 2.7rem;
                }
    
                .buklet__text-undertitle {

                    b {
    
                        font-size: 1rem;
                    }
                }
            }

            .buklet__desc {
    
                ul {

                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width:360px) {

    .buklet {

        .buklet__text {

            h1 {

                span {
    
                    font-size: 2.5rem;
                }
            }
        }
    }
}