@media screen and (max-width:1200px) {

    .services-offered {

        margin-bottom: 100px;
    }
}

@media screen and (max-width:1024px) {

    .services-offered {

        margin-bottom: 80px;
    }
}

@media screen and (max-width:780px) {

    .services-offered {

        margin-bottom: 60px;
    }
}

@media screen and (max-width:480px) {

    .services-offered {

        margin-bottom: 40px;
    }
}