@media screen and (max-width:1200px) {

    .special-offer {

        .special-offer__text {
    
            h1 {

                margin-bottom: 40px;
    
                span {

                    font-size: 2.8rem;
                }
            }
    
            .special-offer__desc {
    
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:1024px) {

    .special-offer {

        .special-offer__text {
    
            h1 {

                font-size: 1.8rem;
    
                span {

                    font-size: 2.3rem;
                }
            }
    
            .special-offer__desc {
    
                font-size: 1.1rem;
                max-width: 350px;
            }
        }
    }
}

@media screen and (max-width:900px) {

    .special-offer {

        .special-offer__text {

            background: transparent;
            min-height: 0;

            .special-offer__img {

                display: block;
                width: 100%;
                margin-bottom: 20px;
            }

            .special-offer__desc {

                max-width: none;
            }
        }
    }
}

@media screen and (max-width:780px) {

    .special-offer {

        .special-offer__text {
    
            h1 {

                font-size: 1.5rem;
    
                span {

                    font-size: 1.8rem;
                }
            }
    
            .special-offer__desc {
    
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width:480px) {

    .special-offer {

        .special-offer__text {
    
            h1 {

                margin-bottom: 20px;
            }

            .special-offer__img {

                margin-bottom: 10px;
            }
        }
    }
}