// Colors
$main_color: #FF8900;
$main_color1: #BF7D30;
$main_color2: #A65900;
$main_color3: #FFA640;
$main_color4: #FFBE73;

$additional_color: #086FA1;
$additional_color1: #235D79;
$additional_color2: #034769;
$additional_color3: #3CA0D0;
$additional_color4: #63ADD0;
