.buklet {

    .buklet__text {

        background-image: url('/imgs/buklet.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: bottom right;
        position: relative;

        h1 {

            margin-bottom: 60px;
            font-size: 2rem;
            font-weight: normal;

            span {

                display: block;
                font-size: 4.5rem;
                font-weight: bold;
            }

            b {

                color: $main_color2;
                font-size: 3.5rem;
            }
        }

        .buklet__desc {

            font-size: 1.5rem;
            max-width: 500px;

            ul {

                padding: 0;
                margin: 0;
                margin-bottom: 40px;
                list-style: none;

                &:last-child {

                    margin-bottom: 0;
                    color: $main_color2;
                }

                li {

                    font-weight: bold;

                    span {

                        color: #e20a0a;
                    }
                }
            }
        }
    }
}