.buklet {

    .buklet__text {

        background-image: url('/imgs/buklet.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: bottom right;
        position: relative;

        h1 {

            margin-bottom: 60px;
            font-size: 1.2rem;
            font-weight: 300;

            span {

                display: block;
                font-size: 4.5rem;
                font-family: 'Philosopher', sans-serif !important;
                font-weight: 700;
                line-height: 1.1;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            .buklet__text-undertitle {

                display: inline-block;
                text-align: right;
                line-height: 1;

                b {

                    color: $main_color2;
                    font-size: 2.1rem;
                    font-weight: 500;
                }
            }
        }

        .buklet__desc {

            font-size: 1.5rem;
            max-width: 400px;

            ul {

                padding: 0;
                margin: 0;
                margin-left: 40px;
                margin-bottom: 40px;
                list-style: none;

                &:last-child {

                    margin-bottom: 0;
                    color: $main_color2;
                }

                li {

                    font-weight: 500;

                    .buklet__new {

                        color: #e20a0a;
                        border-bottom: 2px solid #e20a0a;
                        cursor: pointer;
                        font-weight: 700;

                        &:hover {

                            border-bottom: 0;
                        }
                    }
                }

                &.buklet__desc-1 {

                    li {

                        line-height: 1.2;
                    }
                }
                
                &.buklet__desc-2 {

                    li {

                        line-height: 1.1;
                    }
                }
            }

            .buklet__desc-img {

                .buklet__desc-img-img {

                    display: none;
                }
            }

            .buklet__desc-imgs {

                display: none;
            }
        }
    }
}