.send-phone {

    margin-bottom: 140px;

    .send-phone__desc {

        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 60px;
        color: $main_color2;
        line-height: 1.3;
    }

    .send-phone__form {

        margin: 0 auto;
    }
}